<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="allUser" >
    <h1>Admin panel</h1>

    <div class="btn-group">
        <button class="btn disabled admin-user">
            Users table
        </button>

        <button class="btn inactive admin-show-form">
            New User
        </button>

    </div>
</th:block>

<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="newUser" >
    <h1>Admin panel</h1>

    <div class="btn-group">
        <button class="btn inactive admin-user">
            Users table
        </button>

        <button class="btn disabled  admin-show-form">
            New User
        </button>

    </div>
</th:block>
