<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="allUser(users)">
    <div title-content>All Users</div>
    <div class="content">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 mt-4">
                <div class="panel panel-info content-form align-self-center">
                    <div class="panel-heading">
                        <div class="panel-title">
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tr>
                                <th>name</th>
                                <th>email</th>
                                <th>country</th>
                                <th>role</th>
                                <th>Action</th>
                            </tr>

                            <tbody id="user-item">
                            <th:block th:each="user: ${users}">
                                <tr >
                                    <td th:text="${user.username}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td th:text="${user.country}"></td>
                                    <td>
                                        <th:block th:each="role: ${user.roles}">
                                            <span th:text="${role}"></span>
                                        </th:block>
                                    </td>
                                    <td class="d-flex justify-content-around">
                                        <a th:href="@{/api/v1/admin/findOne/(id=${user.getId()})}"
                                           class="btn btn-primary eBtn"> Edit </a>
                                        <a th:href="@{/api/v1/admin/delete/{userId}(userId=${user.getId()})}"
                                           class="btn btn-danger dBtn"
                                           onclick="if (!(confirm('Are you sure you want to delete this user?'))) return false">Delete</a>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>


                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/all-user-fragment.js}"></script>
</th:block>
