<div class="modal" id="modalEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <!--  form editUser              ///////-->

                <form id="modalEditForm" action="/api/v1/admin/saveUser" method="POST">

                    <div class="form-group d-flex flex-column align-items-center">
                        <label for="username">Name</label>
                        <input id="username" name="username" class="form-control"/>
                    </div>

                    <div class="form-group d-flex flex-column align-items-center">
                        <label for="email">Email</label>
                        <input id="email" name="email" type="email" class="form-control"/>
                    </div>

                    <div class="form-group d-flex flex-column align-items-center">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control"/>
                    </div>

                    <div class="form-group d-flex flex-column align-items-center">
                        <label for="country">Country</label>
                        <input id="country" name="country" class="form-control"/>
                    </div>

                    <div class="form-group d-flex flex-column align-items-center">
                        <label for="rolez">Role</label>
                        <select id="rolez" name="roles" multiple style="width: 100%">
                            <option value="USER">USER</option>
                            <option value="ADMIN">ADMIN</option>
                        </select>
                    </div>

                    <input type="hidden" name="id" id="id">

                    <div class="modal-footer">
                        <input id="modal-edit-close" type="button" value="Close" class="btn btn-secondary" data-dismiss="modal"/>
                        <input type="submit" value="Save changes" class="btn btn-primary">
                    </div>
                </form>

                        <!--   end form editUser             ////////-->
            </div>

        </div>
    </div>
</div>