<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="newUser" >
<div class="title-content">Add new User</div>
<div class="content">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <form action="/admin/saveUser" method="POST">

                <div class="form-group d-flex flex-column align-items-center">
                    <label for="uname">Name</label>
                    <input id="uname" name="username" class="form-control"/>
                </div>

                <div class="form-group d-flex flex-column align-items-center">
                    <label for="mail">Email</label>
                    <input id="mail" name="email" type="email" class="form-control"/>
                </div>

                <div class="form-group d-flex flex-column align-items-center">
                    <label for="pass">Password</label>
                    <input type="password" id="pass" name="password" class="form-control"/>
                </div>

                <div class="form-group d-flex flex-column align-items-center">
                    <label for="countr">Country</label>
                    <input id="countr" name="country" class="form-control"/>
                </div>

                <div class="form-group d-flex flex-column align-items-center">
                    <label for="roles">Role</label>
                    <select id="roles" name="roles" multiple style="width: 100%">
                        <option value="USER">USER</option>
                        <option value="ADMIN">ADMIN</option>
                    </select>
                </div>

                <div class="modal-footer">
                    <input type="button" value="Close" class="btn btn-secondary" data-dismiss="modal"/>
                    <input type="submit" value="Save changes" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>
</th:block>