<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>list user</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</head>

<body>
<header th:insert="fragments/navbar.html"></header>
<div class="container-fluide">
    <div class="row">
        <div th:insert="fragments/aside-left.html :: user" class="col-md-2 mx-0 px-0">
        </div>
        <div class="main col-md-10">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 mt-5">
                    <h1>User panel</h1>
                    <hr/>
                    <br/>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h2>Users</h2>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <tr>
                                    <th>name</th>
                                    <th>email</th>
                                    <th>country</th>
                                </tr>

                                <th:block th:each="user: ${users}">
                                    <tr>
                                        <td th:text="${user.username}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td th:text="${user.country}"></td>
                                    </tr>
                                </th:block>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>