<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>list user</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

</head>

<body>
<header th:insert="fragments/navbar.html"></header>

<div class="container">
    <div class="col-md-offset-1 col-md-10 mt-5">
        <hr/>
        <br/>
        <div class="panel panel-info">
            <div class="panel-heading">

                <div class="panel-title">
                    <h2 th:text="${user.username}">User </h2>
                </div>
            </div>
            <div class="panel-body">
                <ul>
                    <li th:text="${user.email}"> email </li>
                    <li th:text="${user.country}">country  </li>
                    <li th:text="${user.roles}">roles  </li>
                    <li th:text="${user.active}">active  </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>